.home-container {
  /* background-color: #f3cda9; */
  height: 100vh;
  padding: 30px 0;
}

.shot-container {
  background-color: #f9e6d4;
}

.shot-img {
  height: 400px;
}

.tr {
  text-align: right;
  line-height: 40px;
}
